.well#sidebar
  %ul
    %li= link_to 'T#0 - basics', test_0_pages_path
    %li= link_to 'T#1 - scoping', test_1_pages_path
    %li= link_to 'T#2 - forms', test_2_pages_path
    %li= link_to 'T#3 - pages with simple js', test_3_pages_path
    %li= link_to 'T#4 - pages with ajax calls', test_4_pages_path
    %li= link_to 'T#5 - page that requires authentication', test_5_pages_path
    %li= link_to 'T#6 - creating factory for model in module', test_6_pages_path
